h1 {
    color:red;
}

/*-----Estoy probando tamaños y colores-----*/
p{
    color:blue;
    font-size: 16pt;
}

#primeranoticia{
    color:aquamarine;    
    font-size: 12pt;
}

#segundanoticia{
    color:blueviolet
}

.encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}

.autor, .fecha, .ubicacion{
    text-decoration: underline;
}

.fondo{
    background-color:skyblue ;
}

#fondo1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRNrd9ylEyPUXPu-zTXCXrsHBN-uKTp3eGpPCNwUdJzg&s");
}
